// colors
$body-bg:rgb(245, 245, 245);
$container-bg-color:rgb(235, 235, 235);
$greyPlate:rgb(230, 230, 230);
$box-shadow:rgb(99, 99, 99);
$main-heading-color:rgb(223, 223, 223);
$sub-heading-color:rgb(198, 198, 198);
$medium-text-color:rgb(161, 161, 161);
$add-button-bg:rgb(163, 35, 35);
$add-button-color:rgb(230, 230, 230);

$red:rgb(163, 54, 54);

// fonts
$main-font:"Afacad Flux", sans-serif;
$sub-font:"Open Sans", sans-serif;

// font-sizes
$section__heading__size:1.4rem;